/* Define the local font using @font-face */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    /* Set the font weight */
    font-style: normal;
    /* Set the font style */
}

$color1: #151e3a;
$color2: white;
$color3: #2b55d6;
$color4: #666;

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color1;
    /* Light background color */
}

.content {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.principal {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #151e3a;
    padding: 3rem;
}

.principalText {
    width: 50%;
    align-content: center;
}

.principalText h1 {
    /* Scoped the h1 to the .principal class */
    font-size: 3rem;
    color: $color2;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
}

.principalText p {
    /* Scoped the p to the .principal class */
    font-size: 1.5rem;
    color: $color4;
    font-weight: 300;
}

.principalImage {
    width: 50%;
    align-content: center;
    text-align: center;
}

.principalImage img {
    border-radius: 50%;
    background-color: $color3;
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.notable {
    font-size: 2rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/* Mobile specific styles */
@media (max-width: 768px) {
    .principal{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .principalText {
        width: 100%;
    }

    .principalImage {
        width: 100%;

        img{
            max-height: 50vh;
        }
    }

    #NumberSection{
        justify-content: center;
    }
}

