.NumberSectionContainter{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-self: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.NumberSection{
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px #2b55d6;
    padding: 40px 20px;
    width: 240px;
}

.NumberSection i{
    font-size: 30px;
}

.NumberSection .Text p:first-child{
    font-size: 40px;
    padding: 10px 0px;
    color: cyan
}
.NumberSection .Text p:last-child{
    font-size: 25px;
}