/* styles/globals.scss */

/* Define the local font using @font-face */
@font-face {
    font-family: 'Oswald';
    src: url('/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;  /* Set the font weight */
    font-style: normal;   /* Set the font style */
  }
  

.projects-examples{
    align-self: center;
    justify-self: center;

    .project-card{
        
    margin-top: 30px;
    }
}

.ProjectsPage{
    
    #principal-Title{
        font-size: 3rem;
        margin-top: 70px;
        margin-bottom: 30px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }

    .secondary-Title{
        font-size: 2.5rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
        text-align: center;
        font-family: 'Oswald', sans-serif;
    }
}

