@use 'sass:math';
// Google font import
@import url(https://fonts.googleapis.com/css?family=Finger+Paint);

// Basic canvas styles
canvas {
  width: 100vw;
  height: 100vh;
  cursor: none !important;
}

// Body styles
.smokeText {
  overflow: hidden !important;
  font: 18px "Finger Paint";
  text-align: center;
  color: transparent;
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
}

// Span animation with smoky effect
.smokeText span {
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  animation: smoky 5s 3s both;
}

.smokeText span:nth-child(even) {
  animation-name: smoky-mirror;
}

// Keyframes for the smoky effect
@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }

  to {
    transform:
      translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }

  to {
    transform:
      translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

// Animation delay for spans using loop logic

@for $item from 1 through 21 {
  span:nth-of-type(#{$item}) {
    animation-delay: #{2 + math.div($item, 10)}s;
  }
}